body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    margin: 0; /* Remove margens padrão */
    padding-top: 20px; /* Espaçamento no topo */
}

.resultado {
    font-family: Arial, sans-serif;
    background-color: #5697d3; /* Cor de fundo */
    padding: 20px;
    border: 1px solid #26be2d; /* Borda */
    width: 300px; /* Largura fixa */
    text-align: left; /* Alinhamento à esquerda */
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: bold; /* Deixa o texto mais grosso */
}
